venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
*.zip
*.pt
.DS_Store
.speech_cache/
runs/
pothole_snapshots/
pothole_logs/
datasets/
.venv/
*.whl
*.onnx
torchvision_src/
models/midas/
models/stairs/
*.bak*
