[Unit]
Description=RoadVision AI Assistant Service
After=network.target network-online.target nvargus-daemon.service pulseaudio.service
Wants=network-online.target
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
Type=simple
User=mahdi
Group=mahdi
WorkingDirectory=/home/mahdi/jetson_super_001
Environment="DISPLAY=:0"
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
Environment="PULSE_SERVER=unix:/run/user/1000/pulse/native"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="HOME=/home/mahdi"
Environment="LD_LIBRARY_PATH=/home/mahdi/.local/lib/python3.10/site-packages/nvidia/cusparselt/lib"
Environment="PYTHONPATH=/home/mahdi/jetson_super_001"
ExecStartPre=+/usr/sbin/nvpmodel -m 0
ExecStartPre=+/usr/bin/jetson_clocks
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 -u app/main.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/roadvision.log
StandardError=append:/var/log/roadvision.log

[Install]
WantedBy=multi-user.target
